<%# <h1>Authentication Failed!</h1>
<p>There was an error during Google OAuth2 authentication. Please try again.</p>

<a href="/login">Try Again</a> %>
<%# http://localhost:3000 %>
<%# http://localhost:3000/users/auth/google_oauth2/callback %>